.blood-recipient-details-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 100px 2px rgba(219, 215, 215, 0.25);
  width: 1268px;
  height: 896px;
}
.gradient-panel {
  position: absolute;
  top: 31px;
  left: 44px;
  border-radius: var(--br-3xs);
  background: conic-gradient(
    from 180deg at 50% 50%,
    #a8174e -22.88deg,
    #550832 42.75deg,
    #b32346 112.12deg,
    #5e0933 160.87deg,
    #991747 209.62deg,
    #b32346 249deg,
    #500732 295.87deg,
    #a8174e 337.12deg,
    #550832 402.75deg
  );
  box-shadow: 0 4px 90px 2px rgba(209, 205, 205, 0.25);
  width: 510px;
  height: 834px;
}
.button9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-black);
  box-shadow: 0 4px 90px 5px #dedfdf;
  width: 335px;
  height: 73px;
}
.current-location1 {
  position: absolute;
  top: 25px;
  left: 69px;
  font-weight: 900;
  display: inline-block;
  width: 198px;
  height: 22px;
}
.current-location {
  position: absolute;
  top: 318px;
  left: 866px;
  width: 335px;
  height: 73px;
  color: var(--color-white);
}
.button10 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-black);
  box-shadow: 0 4px 90px 2px rgba(165, 164, 164, 0.25);
  width: 224px;
  height: 71px;
}
.proceed1 {
  position: absolute;
  top: 22px;
  left: 52px;
  display: inline-block;
  width: 156px;
  height: 37px;
}
.chevron-right-icon {
  position: absolute;
  height: 52.11%;
  width: 10.71%;
  top: 23.94%;
  right: 10.71%;
  bottom: 23.94%;
  left: 78.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.proceed {
  position: absolute;
  top: 781px;
  left: 977px;
  width: 224px;
  height: 71px;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
}
.or-button-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 4px 90px 3px rgba(217, 214, 214, 0.25);
  width: 42px;
  height: 36px;
}
.or {
  position: absolute;
  top: 7px;
  left: 7px;
}
.or-button,
.recipient-details {
  position: absolute;
  color: var(--color-black);
}
.or-button {
  top: 428px;
  left: 1008px;
  width: 42px;
  height: 36px;
  font-size: var(--font-size-lg);
}
.recipient-details {
  top: 110px;
  left: 916px;
  font-size: var(--font-size-11xl);
  font-weight: 500;
}
.blood-group2 {
  position: absolute;
  top: 15px;
  left: 0;
  display: inline-block;
  width: 184px;
  height: 28px;
}
.first-name5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 335px;
  height: 58px;
}
.chevron-down-icon8 {
  position: absolute;
  top: 20px;
  left: 291px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.blood-group1,
.field-box,
.state2 {
  position: absolute;
  top: 0;
  left: 245px;
  width: 335px;
  height: 58px;
}
.blood-group1,
.state2 {
  top: 213px;
  left: 615px;
  width: 580px;
}
.state2 {
  top: 7px;
  left: 0;
  display: inline-block;
  width: 58px;
  height: 28px;
}
.chevron-down-icon9 {
  position: absolute;
  top: 18px;
  left: 291px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.district2,
.field-box1,
.state1 {
  position: absolute;
  top: 0;
  left: 171px;
  width: 335px;
  height: 58px;
}
.district2,
.state1 {
  top: 496px;
  left: 689px;
  width: 506px;
}
.district2 {
  top: 15px;
  left: 0;
  display: inline-block;
  width: 140px;
  height: 28px;
}
.chevron-down-icon10 {
  position: absolute;
  top: 20px;
  left: 292px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.district1,
.field-box2 {
  position: absolute;
  top: 0;
  left: 183px;
  width: 335px;
  height: 58px;
}
.district1 {
  top: 601px;
  left: 677px;
  width: 518px;
}
.blood-recipient-details {
  position: absolute;
  top: 213px;
  left: 86px;
  width: 1268px;
  height: 896px;
}
.home8 {
  position: absolute;
  top: 0;
  left: 0;
}
.about-us6,
.button11,
.find-blood6,
.home7 {
  position: absolute;
  top: 17px;
  left: 348px;
  width: 72px;
  height: 36px;
}
.about-us6,
.button11,
.find-blood6 {
  left: 675px;
  width: 124px;
}
.about-us6,
.button11 {
  left: 494px;
  width: 107px;
}
.button11 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 224px;
  height: 71px;
}
.contact6 {
  position: absolute;
  top: 20px;
  left: 77px;
  display: inline-block;
  width: 69px;
  height: 30px;
}
.login {
  position: absolute;
  top: 0;
  left: 1092px;
  width: 224px;
  height: 71px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-roboto);
}
.chevron-down-icon11 {
  position: absolute;
  top: 16px;
  left: 161px;
  width: 23px;
  height: 23px;
  overflow: hidden;
}
.logo-icon,
.register-now6 {
  position: absolute;
  top: 16px;
  left: 873px;
  width: 184px;
  height: 39px;
}
.logo-icon {
  top: 1px;
  left: 0;
  width: 61px;
  height: 62px;
}
.navbar5,
.tab-bar,
.tab-bar-child {
  position: absolute;
  width: 124px;
  height: 5px;
}
.tab-bar-child {
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray-100);
}
.navbar5,
.tab-bar {
  top: 55px;
  left: 675px;
}
.navbar5 {
  top: 52px;
  left: 62px;
  width: 1316px;
  height: 71px;
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.blood-needer-details-2button {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 1185px;
  overflow: hidden;
}
.blood-reipent-details {
  width: 100%;
  position: relative;
  height: 1185px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-roboto);
}
